console.log("ENV CHECK:", process.env.MONGO_URI);
PORT=5000
MONGODB_URI=mongodb://vanitripathi595:vani595hackhunt@ac-7ro7bqs-shard-00-00.4ed3srj.mongodb.net:27017,ac-7ro7bqs-shard-00-01.4ed3srj.mongodb.net:27017,ac-7ro7bqs-shard-00-02.4ed3srj.mongodb.net:27017/project1?ssl=true&replicaSet=atlas-3fhbzj-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
PASSWORD=esvm vywd impv jmvy
